
body {
	margin: 0;
	padding: 0;
	background-color: #cccccc;
	/* background-image: url('/static/img/rti_background.png'); */
}

/* scaling of the graph background image needs improvement */
canvas {
	background: url('/static/img/rti_background2.png');
	background-repeat: no-repeat;
}

#idt01 {
	font-size: 40px;
	color: blue;
	justify: right;
}
#idtlabel1 {
	font-size: 40px;
	color: orange;
	justify: left;
}

.heartInfoDisplayText{
	font-size: 40px;
	font-weight:normal;
}

div.centered
{
    text-align: center;
}

div.centered table
{
    margin: 0 auto;
    text-align: left;
}

