
body {
	margin: 0;
	padding: 0;
	background-color: #cccccc;
	/* background: url('/resources/img/rti_background.png') */; 
}

/* scaling of the graph background image needs improvement */
canvas {
	background: url('/resources/img/rti_background.png');
	padding: 2%;   /* controls whitespace around graph withint the container */
	background-position: center;
	background-repeat: no-repeat;
	margin: 0;
}

.heartInfoDisplayText{
	font-size: 32px;
	font-weight:normal;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.display-box {
	height:35px;
	width:60px;
	border-radius:5px; 
	background-color:whitesmoke;
	text-align:center;
	border-color:black;
	border-width:0px; 
	padding:0px;
	margin-top:0px;
	color:black; 
	font-size:24px;
	font-weight: normal;
}

.sm-button {
	background-color:#0f607a; 
	color:white; 
	width:30px;
 	border-radius:5px; 
  	padding:4px;
	  font-size:14px;
	  font-family:Helvetica;
  	text-align:center;
  	display:inline-block;
  	margin:4px;
  	text-decoration:none;
	text-transform:uppercase; 
}