<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Heartbeat 100 per Second</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" >
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" rel="stylesheet">
</head>

<table width="310" style="margin-left:auto;margin-right:auto">
  <tr>
    <td style="font:Georgia" id="idtlabel1">Heartbeat</td>
    <td style="font-family:monospace;" id="idt01" align="right" >100</td>
  </tr>
</table>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
		<canvas id="canvas" >
			<!-- 		  style="background-image: {{ url_for('static', filename='img/canvasrti_background2.png') }}; background-repeat:no-repeat"> -->
	  </canvas>
        </div>
      </div>
    </div>
  </div>
</div>
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script>
    $(document).ready(function () {
        const config = {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: "Pulse Dataset",
                    borderColor: 'rgb(255, 99, 132)',
                    data: [],
                    fill: false,
			<!-- lineTension: 0,  -->
			<!-- showLine: false, -->
                }],
            },
            options: {
		backgroundColor: "transparent",
                title: {
                    display: true,
                    text: 'Pulse Graph',
                },
                scales: {
                    xAxes: [{
                        display: false,
                        scaleLabel: {
                            display: false,
                            labelString: 'Time'
                        }
                    }],
                    yAxes: [{
			ticks: { min: 0, max: 100, stepSize:10 },
                        display: true,
                        scaleLabel: {
                            display: false,
                            labelString: 'Value'
                        }
                    }]
                }
            }
        };

        const context = document.getElementById('canvas').getContext('2d');

        const lineChart = new Chart(context, config);

        const source = new EventSource("/chart-data-100-per-second");
	const x_point_count = 300;

        source.onmessage = function (event) {
            const data = JSON.parse(event.data);
            if (config.data.labels.length === x_point_count) {
                config.data.labels.shift();
                config.data.datasets[0].data.shift();
            }
   	    var value = ('    '+data.value.toFixed(2)).slice(-6);
	    var elementT = document.getElementById("idt01");
		elementT.innerHTML = value;
            config.data.labels.push(data.time);
            config.data.datasets[0].data.push(data.value);
            lineChart.update();
        }
    });
</script>
</body>
</html>
