<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Heartbeat 60 per Second</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" >
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<table width="330" style="margin-left:auto;margin-right:auto">
  <tr>
    <td style="font:Georgia" id="idtlabel1">Heartbeat</td>
    <td style="font-family:monospace;" id="idt01" align="right" >100</td>
  </tr>
</table>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <canvas id="canvas" style="background-image: url('img/rti_background.jpg'); background-size: 100% 100%;"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script>
    $(document).ready(function () {
        const config = {
            type: 'line',
            data: {
                datasets: [{
                    borderColor: 'rgb(255, 99, 132)',
                    data: [],
                    fill: false,
 		    showLine: true,
		    radius:1,
                }],
            },
            options: {
	        legend: {
		    display: false
	        },
		backgroundCOlor: "transparent",
                title: {
                    display: false,
                    text: 'Pulse Graph',
                },
                scales: {
                    xAxes: [{
                        display: false,
                        scaleLabel: {
                            display: false,
                            labelString: 'Time'
                        }
                    }],
                    yAxes: [{
			ticks: { min: -2, max: 2, stepSize:0.10 },
                        display: true,
                        scaleLabel: {
                            display: false,
                            labelString: 'Value'
                        }
                    }]
                }
            }
        };

        const context = document.getElementById('canvas').getContext('2d');

        const lineChart = new Chart(context, config);

        const source = new EventSource("/chart-data-60-per-second");
	const x_point_count = 350;

        source.onmessage = function (event) {
            const data = JSON.parse(event.data);
            if (config.data.labels.length === x_point_count) {
                config.data.labels.shift();
                config.data.datasets[0].data.shift();
            }
   	    var value = ('       '+data.value.toFixed(2)).slice(-6);
	    var elementT = document.getElementById("idt01");
		elementT.innerHTML = value;
            config.data.labels.push(data.time);
            config.data.datasets[0].data.push(data.value);
            lineChart.update();
        }
    });
</script>
</body>
</html>
